<ul class="menu">
{% for baosen in site.data.menu %}
    {% if baosen.subcategories != null %}
    <li><a href="{{ baosen.href }}" class="page-link">{{ baosen.title }}</a>
    <ul class="sub-menu">
    {% for subcategory in baosen.subcategories %}
    <li><a href="{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
     <li><a href="{{ baosen.href }}" class="page-link">{{ baosen.title }}</a>
    {% endif %}
    </li>
    {% endfor %}
    </ul>